
#pre-planning-content
{
	width: 100%;
}

#pre-planning-content fieldset
{
	width: 100%;
}

.sprint-planning-form-non-goals-content
{
	width: 30%;
}

.sprint-planning-form-goals-content
{
             width: 70%;
	vertical-align: top;
}

#sprint-planning-form-title
{
           display: table;
         font-size: 150%;
            margin: auto;
    padding-bottom: 1em;
}

#sprint-planning-form-goals-field-label
{
    display: table;
     margin: auto;
}

#sprint-goals-field
{
	 width: 100%;
	height: 6em;
}

