
#backlog-items
{
	width: 100%;
}

#backlog-items fieldset
{
	width: 100%;
}

.backlog-item-priority
{
	width: 2%;
}

.backlog-item-title
{
	width: 40%;
}

.backlog-item-estimate
{
	width: 5%;
}

.backlog-item-theme
{
	width: 10%;
}

.backlog-item-edit
{
	width: 8%;
}

.backlog-item-description
{
    width: 35%;
}

.backlog-item-field
{
    width: 99%;
}

#backlog-items textarea
{
    margin-top: 0.3em;
    height: 1.4em;
}
