@import url( "/rugby/css/rugby.css" );

#splash-and-login-pane
{
     display: table;
    position: relative;
         top: 40%;
        left: 60%;    
}

#splashTitle
{
    font-size: 520%;
}

#login-form
{
    display: none;
}

#login-form > .login-form
{
         padding: .5em;
    text-align: center;
}

