
.user-action-modify-subaction-submit-form-table-team-input-options, .user-action-delete-subaction-submit-form-table-team-input-options
{
     display: none;
    position: absolute;
     z-index: 9999;
}

.user-action-modify-subaction-submit-form .form-actions, .user-action-delete-subaction-submit-form .form-actions
{
    display: none;
}

#user-action-bulk-delete-form
{
     width: 80%;
    height: 80%;
}

/* NOTE these fields are abnormal - kind of shoved into another table of data so it needs unique styling */
.team-action-any-subaction-submit-team-name-fields
{
    border-collapse: collapse;
              width: 100%;
}

.team-action-any-subaction-submit-team-name-fields .form-row > *
{
    border-bottom: 1px solid rgba( 0, 0, 0, 0.2 );
          padding: 1em;
}

.team-action-any-subaction-submit-team-name-fields .form-field-label
{
    text-align: right;
}

.team-action-any-subaction-submit-team-name-fields .form-field-input, .team-action-any-subaction-submit-team-name-fields .form-field-action
{
    text-align: left;
}

#team-action-delete-form fieldset
{
    text-align: center;
}

