
.vertical-sliding-navigation
{
    list-style: none;
       padding: 0;
}

.vertical-sliding-navigation li.vertical-sliding-element a
{
          display: block;
            width: 150px;
             padding: 5px 18px;
           margin: 0;
    margin-bottom: 5px;
}

.vertical-sliding-navigation li.vertical-sliding-element a
{
              color: #FFFFFF;
    text-decoration: none;    
}

.vertical-sliding-navigation li.vertical-sliding-element a:hover
{
    color: #000000;
    font-size: 200%;
}

.horizontal-sliding-navigation
{
    list-style: none;
       padding: 0;
}

.horizontal-sliding-navigation li.horizontal-sliding-element
{
    display: inline;
}

.horizontal-sliding-navigation li.horizontal-sliding-element a
{
            width: 150px;
             padding: 5px 18px;
           margin: 0;
    margin-bottom: 5px;
}

.horizontal-sliding-navigation li.horizontal-sliding-element a
{
              color: #FFFFFF;
    text-decoration: none;    
}

.horizontal-sliding-navigation li.horizontal-sliding-element a:hover
{
    color: #000000;
    font-size: 200%;
}

